<!doctype html>

<!-- Hello! All source code is available at the following repositories:
    - https://github.com/divergentdave/fireworks-in-minneapolis
    - https://davidsherenowitsa.party/git/fireworks-in-minneapolis.git
-->

<html>
<head>
<title>Fireworks in Minneapolis</title>
<link rel="stylesheet" href="css/fonts.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/milligram.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<section class="container">
<h1>Fireworks in Minneapolis</h1>
<p>I am asking the City of Minneapolis for the fireworks permits they have issued and posting about them online. You can follow <a href="https://twitter.com/FireworksInMpls">@FireworksInMpls</a> on Twitter for updates. I typically tweet once around noon the day of the fireworks, and once 15-30 minutes before the fireworks.</p>
<p>You can add the firework permits to your calendar program. <a href="webcals://davidsherenowitsa.party/fireworks/fireworks.ics">Add as a web calendar</a> or <a href="https://davidsherenowitsa.party/fireworks/fireworks.ics">download the iCalendar file directly</a>.</p>
<h3>Upcoming Fireworks</h3>
{% if events | length == 0 %}
No upcoming fireworks were found
{% else %}
<ul>
{% for event in events %}
<li>
{{ event.date.strftime("%B %-d, %Y") }}: {{ event.name }}, at {{ event.address }}
</li>
{% endfor %}
</ul>
{% endif %}
</section>
</body>
</html>
